/* Text Colors */

.text-primary {
  color: #e4c02f;
}

.text-secondary {
color: #207a81;
font-weight: 900;
}

.text-glow-primary {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e4c02f, 0 0 20px #e4c02f, 0 0 25px #e4c02f, 0 0 30px #e4c02f, 0 0 35px #e4c02f;
}

.text-glow-secondary {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #31dcf9, 0 0 20px #31dcf9, 0 0 25px #31dcf9, 0 0 30px #31dcf9, 0 0 35px #31dcf9;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #e4c02f;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary, .bg-primary {
  background: #e4c02f;
  color: #fff;
}

.btn-secondary, .bg-secondary {
  background: #207a81;
  color: #fff;
}

.btn-dark, .bg-dark {
  background: #333;
  color: #fff;
}

.btn-light, .bg-light {
  background: #f4f4f4;
  color: #222;
}

/* Flex items */

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

.flex-items-team {
  display: flex;
  text-align: center;
  justify-content: center;
}

.flex-items-team > div {
  padding: 10px;
}

/* Team Images */
.team img {
  border-radius: 65%;
}

/* Flex Columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2,
.flex-columns .column .column-3 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns .column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  text-align: right;
}


.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Section Header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}